# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.example
Arquitectura.md
readme.md
index.md
documentacion.md
readme-s3-error.md
base_de_datos.md
migracion.md
migration.sql
migration_lock.toml
export-data.js
import-data.js
seed.js
README-MIGRACION.md
README-REINICIO-CONTRASENA.md
README-OAUTH.md
README-LAYOUT.md
README-EFECTO-CRISTAL.md
README-Leaflet-COMPONENTE.md
README-Leaflet.md
subZonas_10Feb2026.geojson
README-SUBZONAS-DB.md
migration.sql
migration_lock.toml
load-subzonas.js
migration.sql*





# backup de datos antes de migrar (opcional: quitar para versionar)
prisma/backup-datos.json

#README tutorials
Readme-agent.md
README-AGENTE.md
README-AGENTE-FRONTEND.md
README-ISOCHRONES-LIFESTYLE.md
README-MIGRACION.md
README-PRUEBAS-ISOCHRONES.md




# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# asegurar versionado de migraciones prisma
!prisma/migrations/
!prisma/migrations/**
!prisma/migrations/**/migration.sql
!prisma/migrations/migration_lock.toml

